body{
    font-family:Arial;
    padding:20px;
}

#taskList{
    margin-top:20px;
}

.card{
    border:1px solid #ccc;
    padding:15px;
    margin-bottom:10px;
}

.completed{
    background:#d4edda;
}

.modal{
    display:none;
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background:rgba(0,0,0,0.5);

    justify-content:center;
    align-items:center;
}

.modal-content{
    background:white;
    padding:20px;
    width:400px;
}

input,
textarea,
select{
    width:100%;
    margin:8px 0;
    padding:8px;
}

button{
    padding:8px 12px;
    cursor:pointer;
}

#message{
    color:green;
    margin-top:10px;
}